:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #f6f6f6;
  color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a2e;
    color: #f0f0f0;
  }
}

main {
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 3.2rem;
}
